*{
  margin: 0;
  padding: 0;
}

/*Header.js*/
.header a{
  text-decoration: none;
  color : black;
}

.header{
  border: 1px solid black;
  border-color: white white black white;
  text-align: center;
  padding: 10px 30px 0 30px;
}


.header ul{
  display:inline-block;
  padding : 5px;
  position: relative;
}

.header ul li{
  display:inline-block;
}

.header ul li:not(.subgame li){
  padding: 10px 50px 10px 50px;
}

.header ul li:hover a:not(.subgame a){
  color: pink;
}

.subgame li:hover a{
  color:pink;
}

.header ul li ul{
  display:none;
  position:absolute;
  left: -4%;
  margin-top: 15px;
  border: 1px black solid;
}

.subgame li{
  padding: 10px 20px 10px 20px;
}

.header ul li:hover ul{
  display: block;
  transition-duration: 3s;
}

/* Home.js */
.home{
  text-align: center;
}

.home h1{
  margin-top: 50px;
}

.dementia{
  display: flex;
  align-items: center;
}

.dementia img{
  width: 500px;
  height: 300px;
  margin-left: 15%;
  border: 1px silver solid;
}

.dementia span{
  margin-left: 2%;
  font-size: 20px;
  width: 45%;
}

.home p:not(.earlytreatment p){
  text-align: left;
  margin-left: 16%;
  margin-top: 50px;
}

.earlytreatment{
  text-align: left;
  margin-left: 16%;
}

.treatment{
  margin-top: 10%;
  font-size: 25px;
  color: indianred;
  text-shadow: 1px 1px 1.2px midnightblue;
}

.earlytreatment{
  width: 70%;
}

.earlysymptoms p{
  margin: 10px 0 10px 0;
  font-size: 20px;
}

.earlytreatment ol{
  margin-left: 35px;
}

.earlytreatment ul{
  margin: 10px;
}

.dementia_img1{
  width: 300px;
  position:relative;
  top: -950px;
  left: 850px;
}

.dementia_img2{
  width: 300px;
  position:relative;
  top: -600px;
  left: 550px;
}