/* Header.js */
.header {
  background-color: #f8f9fa;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h2 {
  margin: 0;
}

.header ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 19px;
}

.header li {
  position: relative;
}

.header a, .header li {
  text-decoration: none;
  color: #007bff;
}

.header .subgame {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .game:hover .subgame {
  display: block;
}

.header .subgame li {
  padding: 5px 10px;
}

/* Home.js */
.home {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.main h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.main .graphename {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.dementia {
  margin-bottom: 20px;
}

.dementia img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.dementia span {
  display: block;
  font-size: 1em;
}

.earlytreatment .treatment {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.earlysymptoms {
  margin-top: 20px;
  margin-bottom: 20px;
}

.earlysymptoms img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.earlysymptoms ol {
  padding-left: 20px;
}

.earlysymptoms li {
  margin-bottom: 10px;
}

.prevention {
  margin-top: 30px;
  text-align: center;
}

.prevention333 {
  font-size: 1.5em;
  display: block;
  margin-bottom: 10px;
}

.prevention_img {
  max-width: 100%;
  height: auto;
}
